.Main {
    
    &__section-background {
        width: 100%;
        height: 320px;
        position: relative;
        object-fit: cover;
    }

    &__section {
        position: relative;
        width: 850px;
        background-color: rgb(255, 255, 255);
        box-sizing: border-box;
        border-radius: 4px;
        padding: 1.5rem !important;
        display: block;
        left: 30%;
        top: -10%;

        &-search {
            padding-left: 10%;
            width: 50%;
        }

        &-table {
            margin-left: -25%;
        }
    }

}